<div fxLayout="column" class="page-container">

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">
        <h2 class="header" fxLayoutAlign="start center">AP Inward: Other Details</h2>
    </div>

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>No. of Branches<sup>*</sup></mat-label>
            <input matInput placeholder=" "> 
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Total Area in SQ Feet<sup>*</sup></mat-label>
            <input matInput placeholder=" "> 
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Total No. of Dealers<sup>*</sup></mat-label>
            <input matInput placeholder=" "> 
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Total No. of Terminals<sup>*</sup></mat-label>
            <input matInput placeholder=" "> 
        </mat-form-field>

    </div>

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">

        <mat-form-field fxFlex="0 0 calc(100%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Remarks<sup>*</sup></mat-label>
            <input matInput placeholder=" "> 
        </mat-form-field>

    </div>

</div>

<br><br>

<div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
    fxLayoutGap.sm="0" fxLayoutGap.xs="0">

    <div fxFlex class="btn-group" fxLayoutAlign="center center">
        <button mat-stroked-button color="primary">
            <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>

        <button mat-flat-button color="primary">
            <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>

        <button mat-flat-button class="export">
            <mat-icon mat-list-icon>save</mat-icon>
        </button>
    </div>

</div>