.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.accordion {
    width: 90%;
    margin: auto;
}
  
.panel-header{
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    margin-left: 37%;
    font-size: x-large;
}

.send-email{
    margin-left: 80%;
    // margin-top: 2%;
  }