table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;

  }

  .btn-primary{
    margin-left: 80%;
    margin-top: 2%;
  }

  .close-icon{
    margin-left: 80%;
  }