<div fxLayout="column" class="page-container">

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">
        <h2 class="header" fxLayoutAlign="start center">AP Inward: Contact Details</h2>
    </div>

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Contact Person Name<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Mobile No.<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Email<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Designation <sup>*</sup></mat-label>
            <ng-select ngSelectMat bindLabel="name" appendTo="body" [(ngModel)]="selectDropdown" bindLabel="name"
                bindValue="id"></ng-select>
        </mat-form-field>

    </div>

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">

        <mat-form-field fxFlex="0 0 calc(50%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Address 1<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(50%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Address 2<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

    </div>

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Country <sup>*</sup></mat-label>
            <ng-select ngSelectMat bindLabel="name" appendTo="body" [(ngModel)]="selectDropdown" bindLabel="name"
                bindValue="id"></ng-select>
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>State<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>City<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(12.5%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Pin Code<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(12.5%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>STD Code<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

    </div>

    <div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutGap.sm="0" fxLayoutGap.xs="0">

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Telephone No.<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Fax No.<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-form-field fxFlex="0 0 calc(25%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%" appearance="outline">
            <mat-label>Website<sup>*</sup></mat-label>
            <input matInput placeholder=" ">
        </mat-form-field>

        <mat-checkbox fxFlex="0 0 calc(12.5%-20px)" fxFlex.sm="0 0 100%" fxFlex.xs="0 0 100%"
            fxLayoutAlign="start center" class="example-margin">Is Authorized</mat-checkbox>

        <div fxFlex class="btn-group" fxLayoutAlign="end center">
            <button mat-flat-button color="primary">
                <mat-icon mat-list-icon>add</mat-icon>
            </button>
        </div>

    </div>

</div>

<div class=" " fxLayout.xl="column wrap" fxLayout.lg="column" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutGap="20px" fxLayoutGap.sm="0" fxLayoutGap.xs="0" class="table-responsive">

    <h2 class="header" fxLayoutAlign="start center">Contact Details</h2>

    <table fxFlex mat-table [dataSource]="dataSourceRefferals" class="mat-table">

        <!-- FileName Column -->
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> </th>
            <td mat-cell class="mat-cell" *matCellDef="let element">
                <mat-checkbox class="example-margin"> </mat-checkbox>
            </td>
        </ng-container>

        <!-- Delete Icon Column -->
        <ng-container matColumnDef="cperson">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> Contact Person Name</th>
            <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.cperson}}</td>
        </ng-container>

        <!-- Delete Icon Column -->
        <ng-container matColumnDef="designation">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> Designation </th>
            <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.designation}} </td>
        </ng-container>

        <!-- Delete Icon Column -->
        <ng-container matColumnDef="mobile">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> Mobile </th>
            <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>

        <!-- Delete Icon Column -->
        <ng-container matColumnDef="isauthorised">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> IsAuthorised </th>
            <td mat-cell class="mat-cell" *matCellDef="let element">
                <mat-checkbox class="example-margin"> </mat-checkbox>
            </td>
        </ng-container>

        <!-- Delete Icon Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> Actions </th>
            <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.action}} </td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns1;"></tr>

    </table>

</div>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

<div class=" " fxLayout.xl="row wrap" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
    fxLayoutGap.sm="0" fxLayoutGap.xs="0">

    <div fxFlex class="btn-group" fxLayoutAlign="center center">
        <button mat-stroked-button color="primary">
            <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>

        <button mat-flat-button color="primary">
            <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>

        <button mat-flat-button class="export">
            <mat-icon mat-list-icon>save</mat-icon>
        </button>
    </div>

</div>